<%= form_for [@post, comment, @reply] do |f| %>
  <%= f.text_area :body, class: 'form-control input-lg', id: 'comment_box_size' %><br>
  <%= f.hidden_field :comment_id, :value => comment.id %>
  <div class="row" id="comment_button">
    <%=f.submit "Submit Reply", class: 'btn btn-default' %>
  </div>
<%end%>
