<div id="profile">
  <h1>Edit your post</h1>
</div>

<div class="jumbotron col-md-4 col-md-offset-0">
  <%= form_for @post do |f| %>
      <%= f.text_area :body %>
      <%= f.submit "Edit your post!" %>
  <% end %>
</div>
