<h1>Posts</h1>
<p>Posts go here!</p>

<% @posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
  <%= post.user.user_name %>
  <br>
<% end %>

<%= link_to 'Create a post', new_post_path%>
