<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

  <h2><b>User Name:</b> <%= @user.user_name %></h2>
  <p><b>Email:</b> <%= @user.email %></p>
  <p><b>Bio:</b> <%= @user.bio %></p>
  <p><b>Pic:</b> <%= @user.pic_url %></p>
  <br>
